body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: #ffffff;
}

.ivu-layout-header {
  background: white !important;
  padding: 0 16px !important;
}

.page-content {
  padding: 16px 16px 0 16px
}

.page-header {
  background: #fff;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;

  button {
    margin: 15px 0;
  }
}

.chart-wrapper-heatmap {
  display: flex;
  justify-content: center;
}

.chart-wrapper {
  min-height: 400px;
  display: flex;
  justify-content: center;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-user-left-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .image-user-img {
    width: 100px;
    height: 100px;
    margin: 38px 0;
  }
}

.not-found-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-charts below version 2.1.8 */
{
  opacity: 0;
}
